<%-include("../../partials/header")-%>

<section>
  <%-include("../../pages/services/banner.ejs")-%>
  <%-include("../../pages/services/carousel.ejs")-%>
  <%-include("../../pages/services/photoEditingServices.ejs")-%>
  <%-include("../../pages/services/reviews.ejs")-%>
  <%-include("../../pages/services/serviceEnding.ejs")-%>
</section>
<%-include("../../partials/footer.ejs")-%>
